
.card-form-item {
    height: 40px;
    margin-top: 20px;
}
.card-form-label{
    width: 20%;
    float: left;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    margin-right: 15px;
    line-height: 30px;
    margin-left: 10px;
}
.card-input-inline{
    width: 60%;
    float: left;
    height: auto;
    font-size: 14px;
    font-weight: normal;
}

.oldpwd_label,.newpwd_label,.repwd_label {
    color: red;
    font-size: 12px;
    font-weight: normal;
}

div#update_pwd_dialog {
    width: 450px;
}